<section class="phx-hero">
  <h1><%= gettext "This is Martin Perez Navarro's Submission of CS 491 HW2 Mastery" %></h1>
  <p>Please navigate using the navigation bar on the top right.</p><br>
</section>
